/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* SLIDER */
#app {
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #000;
}

.slider {
    position: relative;
    height: 80vh;
}

.images {
    height: 100%;
}

.images img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
    width: 50px;
    border: 1px solid transparent;
    border-radius: 50%;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    transition: background-color .3s, border-color .3s;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}

.prev:hover,
.next:hover {
    background-color: #000;
    border-color: #fff
}

.main-nav {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 200px;
    border: 1px solid transparent;
    border-radius: 20px;
    font-size: 24px;
    color: rgba(255, 255, 255, .8);
    background-color: rgba(0, 0, 0, .7);
    transition: background-color .3s, border-color .3s;
}

.main-nav:hover {
    border-color: #fff;
    background-color: #000;
}

.main-nav i:hover {
    color: #fff;
    cursor: pointer;
}

.main-nav i.active {
    color: dodgerblue;
}

